.Rproj.user
.Rhistory
.RData
.Ruserdata
presentation.bbl
presentation.blg
presentation.log
presentation.nav
presentation-concordance.tex
presentation.snm
presentation.synctex.gz
presentation.tex
simple-alphabets-presentation.Rproj
